alan_controllers/alan_wheels/build/

alan_ws/build/
alan_ws/devel/
alan_ws/.catkin_workspace

data_processing/road_data/
model_creation/.ipynb_checkpoints/
model_creation/model.tflite

*.pyc
!**/__pycache__/
