alan_controllers/alan_wheels/build/

alan_ws/build/
alan_ws/devel/
alan_ws/.catkin_workspace

data_processing/road_data/
model_creation/.ipynb_checkpoints/
model_creation/model.tflite
model_creation/alan_bot_model.tflite
model_creation/alan_bot_model/
model_creation/training/

*.pyc
!**/__pycache__/
